## Preparation

- upload Claimant Count 2015 xlsx (https://data.london.gov.uk/download/gla-claimant-count-model-output/719455d6-d086-45c6-b389-5e7903e5ae20/Claimant%20Count%20Model%202015.xls) to '.data'
- upload Claimant Count 2014 xlsx (https://data.london.gov.uk/download/gla-claimant-count-model-output/dad61dbd-1e97-420e-8eac-cfc7e19a71f8/Claimant%20Count%20Model%202014.xls) to '.data'
- upload Claimant Count 2013 xlsx (https://data.london.gov.uk/download/gla-claimant-count-model-output/e945ca02-dd4d-42d5-b615-4f105ea43e66/Claimant%20Count%20Model%202013.xls) to '.data'
- upload Claimant Count 2012 xlsx (https://data.london.gov.uk/download/gla-claimant-count-model-output/595c5848-fe4a-4b23-8670-25285b878c29/Claimant%20Count%20Model%202012.xls) to '.data'
- upload Claimant Count 2011 xlsx (https://data.london.gov.uk/download/gla-claimant-count-model-output/e308d40d-42e0-461e-8259-4f5abc5c7136/Claimant%20Count%20Model%202011.xls) to '.data'

In [ ]:
!mkdir data

In [1]:
!pip install openpyxl
import pandas as pd
import numpy as np

Requirement already satisfied: openpyxl in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.5.8)
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.4)
Requirement already satisfied: et-xmlfile in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.0.1)

In [2]:
from openpyxl import load_workbook

### Extracting GLA claimant count rates for 18-24 year old economically active residents

In [10]:
wb = load_workbook('./data/Claimant Count Model 2015.xlsx', data_only=True)
ws = wb["December - Rates"] #december was chosen randomly
df = pd.DataFrame(ws.values)
r15 = df[21] #column 21 contains the claimant rates amongst 18-24 year old economically active residents

In [12]:
wb = load_workbook('./data/Claimant Count Model 2014.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r14 = df[21]

In [13]:
wb = load_workbook('./data/Claimant Count Model 2013.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r13 = df[21]

In [14]:
wb = load_workbook('./data/Claimant Count Model 2012.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r12 = df[21]

In [15]:
wb = load_workbook('./data/Claimant Count Model 2011.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r11 = df[21]

In [19]:
bulk = df.iloc[::, 6:]

In [20]:
df.drop(bulk, axis=1, inplace=True) #only leaving the area key

In [21]:
df = pd.concat([df, r11], axis=1)
df = pd.concat([df, r12], axis=1)
df = pd.concat([df, r13], axis=1)
df = pd.concat([df, r14], axis=1)
df = pd.concat([df, r15], axis=1)

,0,1,2,3,4,5,21,21,21,21,21
0,"Claimant count by age, duration & gender, summ...",None,None,None,None,None,None,None,None,None,None
1,None,MONTH,None,None,None,None,None,None,None,None,None
2,None,December,None,None,None,None,Rates,Rates,Rates,Rates,Rates
3,None,None,None,None,None,Names appear on tables,Persons,Persons,Persons,Persons,Persons
4,None,NOMIS ward order - check,None,Code,Borough,Ward,18-24,18-24,18-24,18-24,18-24
5,1,wardcas:00ABFX : Abbey,E05000026,00ABFX,Barking & Dagenham,Abbey,24.7604,23.0375,20,12.3457,7.35294
6,2,wardcas:00ABFY : Alibon,E05000027,00ABFY,Barking & Dagenham,Alibon,23.5935,17.6991,11.0544,5.62701,3.5461
7,3,wardcas:00ABFZ : Becontree,E05000028,00ABFZ,Barking & Dagenham,Becontree,24.0864,17.638,15.9884,8.63214,3.41997
8,4,wardcas:00ABGA : Chadwell Heath,E05000029,00ABGA,Barking & Dagenham,Chadwell Heath,22.0729,16.5441,9.96377,6.86106,2.59067
9,5,wardcas:00ABGB : Eastbrook,E05000030,00ABGB,Barking & Dagenham,Eastbrook,25.0358,18.9295,10.5198,6.53207,6.30517
10,6,wardcas:00ABGC : Eastbury,E05000031,00ABGC,Barking & Dagenham,Eastbury,25.2252,21.5517,13.2979,8.16993,3.3557
11,7,wardcas:00ABGD : Gascoigne,E05000032,00ABGD,Barking & Dagenham,Gascoigne,23.0326,18.2815,12.5,7.34095,3.68324
12,8,wardcas:00ABGE : Goresbrook,E05000033,00ABGE,Barking & Dagenham,Goresbrook,25.5941,21.7014,16.184,8.6478,8.29876
13,9,wardcas:00ABGF : Heath,E05000034,00ABGF,Barking & Dagenham,Heath,26.087,20.0669,14.0264,6.30915,4.92611
14,10,wardcas:00ABGG : Longbridge,E05000035,00ABGG,Barking & Dagenham,Longbridge,13.9969,10.3245,8.49858,5.9761,4.84653
15,11,wardcas:00ABGH : Mayesbrook,E05000036,00ABGH,Barking & Dagenham,Mayesbrook,22.8571,16.2162,13.2979,7.5,2.7027
16,12,wardcas:00ABGJ : Parsloes,E05000037,00ABGJ,Barking & Dagenham,Parsloes,19.6078,12.1495,9.94575,6.86106,2.6455
17,13,wardcas:00ABGK : River,E05000038,00ABGK,Barking & Dagenham,River,21.0526,15.748,8.98204,6.15595,4.90196
18,14,wardcas:00ABGL : Thames,E05000039,00ABGL,Barking & Dagenham,Thames,23.1911,15.2439,9.96016,6.17284,5.14801
19,15,wardcas:00ABGM : Valence,E05000040,00ABGM,Barking & Dagenham,Valence,25.6148,14.1129,14.4509,6.23886,4.3554
20,16,wardcas:00ABGN : Village,E05000041,00ABGN,Barking & Dagenham,Village,25.8765,19.6399,13.0506,9.23077,3.82848
21,17,wardcas:00ABGP : Whalebone,E05000042,00ABGP,Barking & Dagenham,Whalebone,17.5277,11.4236,9.63222,4.99168,1.92308
22,18,wardcas:00ACFX : Brunswick Park,E05000043,00ACFX,Barnet,Brunswick Park,13.0368,7.60719,5.35475,3.07503,2.20264
23,19,wardcas:00ACFY : Burnt Oak,E05000044,00ACFY,Barnet,Burnt Oak,15.3374,12.3384,8.00915,5.30223,2.68817
24,20,wardcas:00ACFZ : Childs Hill,E05000045,00ACFZ,Barnet,Childs Hill,9.34066,7.23026,6.22172,3.71156,2.1097
25,21,wardcas:00ACGA : Colindale,E05000046,00ACGA,Barnet,Colindale,11.8734,8.27301,5.8296,4.85437,3.84287
26,22,wardcas:00ACGB : Coppetts,E05000047,00ACGB,Barnet,Coppetts,9.56633,8.78294,7.23684,4.36409,1.85874
27,23,wardcas:00ACGC : East Barnet,E05000048,00ACGC,Barnet,East Barnet,11.4449,10.218,6.08931,3.20924,1.39276
28,24,wardcas:00ACGD : East Finchley,E05000049,00ACGD,Barnet,East Finchley,9.52381,9.18079,5.97015,3.53607,3.08166
29,25,wardcas:00ACGE : Edgware,E05000050,00ACGE,Barnet,Edgware,11.471,5.89005,5.91327,1.87032,1.95059
...,...,...,...,...,...,...,...,...,...,...,...
658,29,User Defined Geography:Sutton,E09000029,0,Outer,Sutton,9.60939,7.26774,5.25707,3.39284,2.27609
659,30,User Defined Geography:Tower Hamlets,E09000030,0,Inner,Tower Hamlets,18.74,16.041,10.9196,7.27536,3.19014
660,31,User Defined Geography:Waltham Forest,E09000031,0,Outer,Waltham Forest,19.7234,16.9703,12.265,7.95737,3.4522
661,32,User Defined Geography:Wandsworth,E09000032,0,Inner,Wandsworth,9.35954,7.43155,4.99936,3.09284,2.5992
662,33,User Defined Geography:Westminster,E09000033,0,Inner,Westminster,12.5492,8.25576,6.07462,3.42037,3.45691
663,None,None,None,None,None,None,None,None,None,None,None
664,None,None,E13000001,0,0,Inner London,15.7734,12.4919,8.7826,5.70256,4.05915
665,None,None,E13000002,0,0,Outer London,13.34,10.6578,7.71791,4.91203,3.22718
666,None,None,E12000007,0,0,London,14.34,11.4141,8.15765,5.24108,3.57434
667,None,country:England,E92000001,0,0,England,13.8557,11.8935,8.68241,5.07879,3.07478
668,None,country:England and Wales,K04000001,0,0,England and Wales,13.9883,11.8358,8.68376,5.15024,3.15472
669,None,None,None,None,None,None,None,None,None,None,None
670,None,None,None,None,None,None,None,None,None,None,None
671,None,None,None,None,None,None,None,None,None,None,None
672,1,None,0,0,0,Barnet & Camden,11.3641,8.25176,5.88069,4.04567,2.61381
673,2,None,0,0,0,Bexley & Bromley,10.5554,8.14621,5.78541,3.63104,2.69427
674,3,None,0,0,0,Brent & Harrow,12.7124,10.3204,7.85296,5.36568,2.8251
675,4,None,0,0,0,City & East London,19.5461,15.8552,10.982,7.09493,3.82517
676,5,None,0,0,0,Croydon & Sutton,13.7673,11.0947,7.3368,4.66428,3.93066
677,6,None,0,0,0,Ealing & Hillingdon,11.456,8.98081,7.03787,4.22954,2.70457
678,7,None,0,0,0,Enfield & Haringey,19.7631,16.2673,11.5394,7.20987,4.35619
679,8,None,0,0,0,Greenwich & Lewisham,17.8173,14.9981,10.144,6.83318,5.66451
680,9,None,0,0,0,Havering and Redbridge,13.2781,10.4884,7.44468,4.49624,3.65716
681,10,None,0,0,0,Lambeth & Southwark,15.6634,12.2722,9.03064,5.66399,4.38018
682,11,None,0,0,0,Merton & Wandsworth,10.0492,7.87467,5.63063,3.65585,3.0386
683,12,None,0,0,0,North East,17.9836,14.79,10.7226,6.9407,4.24203
684,13,None,0,0,0,South West,9.03578,7.33453,5.54897,3.79098,2.50381
685,14,None,0,0,0,West Central,11.7525,8.23148,6.03939,3.72325,2.93921
686,None,None,None,None,None,None,None,None,None,None,None
687,None,None,None,None,None,None,None,None,None,None,None

In [22]:
df.columns = ['Number', 'ID', 'Code', 'WardCode', 'Region', 'Area', '2011', '2012', '2013', '2014', '2015']

In [24]:
df = df.iloc[630:667:, 2:] #only using the borough data

In [26]:
df.drop('WardCode', axis=1, inplace=True)
df.drop('Region', axis=1, inplace=True)

In [31]:
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)

In [34]:
df

,Code,Area,2011,2012,2013,2014,2015
0,E09000001,City of London,6.17284,3.57995,1.21359,1.1655,1.63399
1,E09000002,Barking and Dagenham,22.7344,17.1595,12.4134,7.25157,4.49666
2,E09000003,Barnet,9.94442,7.3473,5.37837,3.47466,1.93749
3,E09000004,Bexley,10.8704,8.29157,5.66122,3.78099,2.85371
4,E09000005,Brent,14.6817,12.4387,9.53251,6.09714,3.07824
5,E09000006,Bromley,10.2698,8.0161,5.89725,3.49627,2.53807
6,E09000007,Camden,13.8659,9.81257,6.77492,5.02917,3.63115
7,E09000008,Croydon,16.0166,13.1901,8.44699,5.31858,4.80365
8,E09000009,Ealing,12.9866,10.5954,8.35616,5.20564,2.95563
9,E09000010,Enfield,19.4962,16.173,11.6915,7.32176,3.34031
10,E09000011,Greenwich,17.0295,14.0556,9.46092,6.16399,5.35714
11,E09000012,Hackney,17.3813,13.9822,10.0238,6.28597,4.83073
12,E09000013,Hammersmith and Fulham,11.2417,7.96936,5.96401,3.60265,2.21902
13,E09000014,Haringey,20.1118,16.3884,11.3467,7.0726,5.64344
14,E09000015,Harrow,10.0078,7.45687,5.5229,4.32263,2.4339
15,E09000016,Havering,11.3887,9.6257,6.15097,3.754,3.26774
16,E09000017,Hillingdon,9.73127,7.30994,5.69333,3.23347,2.45692
17,E09000018,Hounslow,12.0639,9.48183,7.26904,4.94247,2.86871
18,E09000019,Islington,16.55,13.1257,9.70176,6.50319,4.46281
19,E09000020,Kensington and Chelsea,11.4662,8.66244,6.11451,4.46429,3.36434
20,E09000021,Kingston upon Thames,6.69915,6.00198,4.09315,2.77133,2.01534
21,E09000022,Lambeth,13.8881,11.1699,8.21863,5.21427,4.0736
22,E09000023,Lewisham,18.5666,15.9025,10.8054,7.49662,5.97092
23,E09000024,Merton,11.2181,8.64816,6.76761,4.70341,3.85604
24,E09000025,Newham,18.7638,15.1773,10.3864,6.96573,4.11648
25,E09000026,Redbridge,15.5201,11.5369,9.06054,5.40692,4.12868
26,E09000027,Richmond upon Thames,5.7398,4.79876,3.98189,2.86512,2.40944
27,E09000028,Southwark,17.9591,13.6235,10.002,6.18093,4.74197
28,E09000029,Sutton,9.60939,7.26774,5.25707,3.39284,2.27609
29,E09000030,Tower Hamlets,18.74,16.041,10.9196,7.27536,3.19014
30,E09000031,Waltham Forest,19.7234,16.9703,12.265,7.95737,3.4522
31,E09000032,Wandsworth,9.35954,7.43155,4.99936,3.09284,2.5992
32,E09000033,Westminster,12.5492,8.25576,6.07462,3.42037,3.45691
33,None,None,None,None,None,None,None
34,E13000001,Inner London,15.7734,12.4919,8.7826,5.70256,4.05915
35,E13000002,Outer London,13.34,10.6578,7.71791,4.91203,3.22718
36,E12000007,London,14.34,11.4141,8.15765,5.24108,3.57434

In [35]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'youth-claimants-rate.csv')

### Extracting Absolute number of Economically Active 18-24 yrs old

In [3]:
wb = load_workbook('./data/Claimant Count Model 2015.xlsx', data_only=True)
ws = wb["2015 Base"] 
df = pd.DataFrame(ws.values)
r15 = df[6] #column 6 contains the absulute number of 18-24 year old economically active residents

In [4]:
wb = load_workbook('./data/Claimant Count Model 2014.xlsx', data_only=True)
ws = wb["2014 Base"]
df = pd.DataFrame(ws.values)
r14 = df[6]

In [5]:
wb = load_workbook('./data/Claimant Count Model 2013.xlsx', data_only=True)
ws = wb["2013 Base"]
df = pd.DataFrame(ws.values)
r13 = df[6]

In [6]:
wb = load_workbook('./data/Claimant Count Model 2012.xlsx', data_only=True)
ws = wb["2012 Base"]
df = pd.DataFrame(ws.values)
r12 = df[6]

In [23]:
wb = load_workbook('./data/Claimant Count Model 2011.xlsx', data_only=True)
ws = wb["2011 Base"]
df = pd.DataFrame(ws.values)
r11 = df[6]

In [24]:
bulk = df.iloc[::, 2:]

In [25]:
df.drop(bulk, axis=1, inplace=True) #only leaving the area key

In [26]:
df = pd.concat([df, r11], axis=1)
df = pd.concat([df, r12], axis=1)
df = pd.concat([df, r13], axis=1)
df = pd.concat([df, r14], axis=1)
df = pd.concat([df, r15], axis=1)

In [27]:
df.columns = ['Code', 'Area', '2011', '2012', '2013', '2014', '2015']

In [28]:
df = df.iloc[630:662:, :] #only using the borough data

In [26]:
#df.drop('WardCode', axis=1, inplace=True)
#df.drop('Region', axis=1, inplace=True)

In [29]:
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)

In [30]:
df

         Code                    Area   2011   2012   2013   2014   2015
0   E09000001          City of London    324    419    412    429    306
1   E09000002    Barking and Dagenham   9611  10111  10392  11170  10341
2   E09000003                  Barnet  14933  15652  15897  17124  15742
3   E09000004                  Bexley  13247  13568  13513  13753  13316
4   E09000005                   Brent  13997  13868  13690  14515  13969
5   E09000006                 Bromley  14606  15157  15007  15302  13593
6   E09000007                  Camden   8474   9070   8930   9942  10465
7   E09000008                 Croydon  17794  17968  17817  18614  16654
8   E09000009                  Ealing  15054  14865  14600  15464  15056
9   E09000010                 Enfield  14490  14685  14455  15092  14819
10  E09000011               Greenwich  12449  12913  12948  13952  13440
11  E09000012                 Hackney  13060  12945  12620  13204  13145
12  E09000013  Hammersmith and Fulham   9696   9662   9725  10409   9013
13  E09000014                Haringey  11088  11441  11413  12301  11695
14  E09000015                  Harrow  10192  10259   9868  10179   9039
15  E09000016                Havering  14488  14908  14957  15317  14077
16  E09000017              Hillingdon  13359  14364  14315  15154  15263
17  E09000018                Hounslow  11895  12023  11831  12342  11852
18  E09000019               Islington  10574  11047  11132  12071  12100
19  E09000020  Kensington and Chelsea   5320   5368   5397   5936   5053
20  E09000021    Kingston upon Thames   6568   7081   7085   7758   7691
21  E09000022                 Lambeth  17893  17771  17582  18411  18043
22  E09000023                Lewisham  13088  13457  13373  14073  13482
23  E09000024                  Merton   8825   8788   8718   9036   8169
24  E09000025                  Newham  16308  16439  16512  17945  18098
25  E09000026               Redbridge  12210  12265  11975  12484  11626
26  E09000027    Richmond upon Thames   6272   6460   6404   6806   6018
27  E09000028               Southwark  13837  14497  14697  16017  15289
28  E09000029                  Sutton   9626   9838   9511   9579   8787
29  E09000030           Tower Hamlets  16809  16676  16301  17250  18181
30  E09000031          Waltham Forest  13233  13229  13086  13698  13180
31  E09000032              Wandsworth  14958  15340  15702  16813  15197

In [31]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'active-youth.csv')

### Extracting GLA claimant count rates for economically active residents (working age)

In [5]:
wb = load_workbook('./data/Claimant Count Model 2015.xlsx', data_only=True)
ws = wb["December - Rates"] #december was chosen randomly
df = pd.DataFrame(ws.values)
r15 = df[20] #column 20 contains the claimant rates of economically active working age residents

In [6]:
wb = load_workbook('./data/Claimant Count Model 2014.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r14 = df[20]

In [7]:
wb = load_workbook('./data/Claimant Count Model 2013.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r13 = df[20]

In [8]:
wb = load_workbook('./data/Claimant Count Model 2012.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r12 = df[20]

In [9]:
wb = load_workbook('./data/Claimant Count Model 2011.xlsx', data_only=True)
ws = wb["December - Rates"]
df = pd.DataFrame(ws.values)
r11 = df[20]

In [10]:
bulk = df.iloc[::, 6:]

In [11]:
df.drop(bulk, axis=1, inplace=True) #only leaving the area key

In [12]:
df = pd.concat([df, r11], axis=1)
df = pd.concat([df, r12], axis=1)
df = pd.concat([df, r13], axis=1)
df = pd.concat([df, r14], axis=1)
df = pd.concat([df, r15], axis=1)

In [13]:
df.columns = ['Number', 'ID', 'Code', 'WardCode', 'Region', 'Area', '2011', '2012', '2013', '2014', '2015']

In [14]:
df = df.iloc[630:667:, 2:] #only using the borough data

In [15]:
df.drop('WardCode', axis=1, inplace=True)
df.drop('Region', axis=1, inplace=True)

In [16]:
df.reset_index(inplace=True)
df.drop('index', axis=1, inplace=True)

In [17]:
df

,Code,Area,2011,2012,2013,2014,2015
0,E09000001,City of London,2.3595,2.20441,1.79497,1.37525,0.811853
1,E09000002,Barking and Dagenham,9.41104,8.61579,5.99283,3.97761,2.98715
2,E09000003,Barnet,4.09589,3.76348,2.8849,2.04451,1.56846
3,E09000004,Bexley,4.23341,3.93616,2.86576,1.92692,1.55895
4,E09000005,Brent,6.36318,6.36079,4.98582,3.66868,2.88539
5,E09000006,Bromley,4.00247,3.63291,2.62303,1.6659,1.31346
6,E09000007,Camden,5.18431,4.55908,3.39923,2.43201,2.149
7,E09000008,Croydon,6.13385,5.55851,3.9695,2.57548,2.37386
8,E09000009,Ealing,5.38509,5.05008,4.19378,2.94749,2.45994
9,E09000010,Enfield,7.57731,7.0498,5.2686,3.55056,2.42821
10,E09000011,Greenwich,6.67981,6.34983,4.64137,3.17456,2.8415
11,E09000012,Hackney,8.75503,7.56758,5.83192,4.11854,3.21053
12,E09000013,Hammersmith and Fulham,5.06822,4.70636,3.89583,2.71991,2.1614
13,E09000014,Haringey,8.15922,7.31236,5.70296,4.01716,3.11799
14,E09000015,Harrow,3.66629,3.21135,2.49951,1.84888,1.3824
15,E09000016,Havering,4.77534,4.62608,3.17245,2.19091,1.92918
16,E09000017,Hillingdon,4.02197,3.61878,2.91286,1.9474,1.67627
17,E09000018,Hounslow,4.19867,3.79256,3.00111,2.33554,1.74597
18,E09000019,Islington,6.56434,5.96229,4.61597,3.28289,2.59151
19,E09000020,Kensington and Chelsea,4.10923,3.62693,2.86701,2.17533,1.89945
20,E09000021,Kingston upon Thames,2.57824,2.47269,1.90496,1.44604,1.1938
21,E09000022,Lambeth,7.00163,6.54485,5.15018,3.60865,3.02719
22,E09000023,Lewisham,7.54943,7.01387,5.23678,3.80012,3.18432
23,E09000024,Merton,3.80531,3.55039,2.81831,2.13087,1.76793
24,E09000025,Newham,8.54691,7.84005,5.63182,3.72542,2.73968
25,E09000026,Redbridge,5.63359,5.08205,3.58825,2.41574,1.89795
26,E09000027,Richmond upon Thames,2.06383,1.99812,1.71899,1.32824,1.12625
27,E09000028,Southwark,7.36436,6.75925,5.25092,3.72363,2.92803
28,E09000029,Sutton,3.64821,3.406,2.49205,1.68803,1.14348
29,E09000030,Tower Hamlets,8.77373,7.9785,5.62577,3.71285,2.66109
30,E09000031,Waltham Forest,7.96153,7.42323,5.61915,3.83356,2.45086
31,E09000032,Wandsworth,3.66193,3.4474,2.71478,1.91956,1.60155
32,E09000033,Westminster,4.77817,4.13393,3.14303,2.27523,1.95355
33,None,None,None,None,None,None,None
34,E13000001,Inner London,6.63817,6.0402,4.60978,3.23733,2.58945
35,E13000002,Outer London,5.1317,4.77707,3.60012,2.50245,1.97197
36,E12000007,London,5.7539,5.3016,4.02104,2.81012,2.22927

In [18]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'all-claimants-rate.csv')