# This notebook is used for data wrangling. 
### The main purpose is to create a singular curated dataset which can be used for exploratory data analysis

In [10]:
# This import registers the 3D projection, but is otherwise unused.
import pandas as pd
from scipy import stats
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#------------GLOBALS-------------
area_rows_to_drop = ['North East', 'North West', 'East Midlands', 'West Midlands',
                   'East', 'London', 'South East', 'South West', 'England', 'Wales',
                   'Scotland', 'Great Britain', 'Inner London', 'Outer London', 'City of London']

RAW_DATA_PATH = "~/library/data/raw/"
PROC_DATA_PATH = '~/library/data/processed/'

business_cols_to_drop = ['births','1_year_survival_number', '1_year_survival_rate', 
                         '2_year_survival_number', '2_year_survival_rate', '4_year_survival_number', 
                         '4_year_survival_rate' ,'5_year_survival_number', '5_year_survival_rate']
    
#------------FUNCTIONS-------------
def colToDrop(df):
    col_length = len(df.columns)
    arr = []
    for index in range(2, col_length):
        if df.columns[index].find('Jan') != -1:
            if index + 2 < col_length:
                index += 2
            pass
        arr.append(df.columns[index])    
    return arr


def replaceCol(df):
    col_length = len(df.columns)
    mapping = {
        df.columns[0]:'code', 
        df.columns[1]:'area'
    }
    
    for index in range(2, col_length):
        if index%2!=0:
            mapping[df.columns[index]] = '+/- Difference'
    return mapping

def my_csv(file, path, encoding='utf-8', sep=',', *args, **kwargs):
    try:
        if path == 1:
            path = PROC_DATA_PATH
        elif path == 0:
            path = RAW_DATA_PATH
    except:
        print("Pick either 1 for the processed data path or 0 for the raw data path.")
    
    return pd.read_csv(path + file, encoding=encoding, *args, **kwargs)

#### Here we get all datasets we are going to use in our analysis

In [48]:
df_1 = my_csv('business-survival-rates.csv', path=0, na_values=[':'])
df_2 = my_csv('Jobs and Job Density.csv', path=0) 
df_3 = my_csv('mb-unemployment-rates.csv', path=0, na_values = [' ', '-'])
df_4 = my_csv('processed_nvq4-qualifications-overtime.csv', path=1)
df_5 = my_csv('processed_youth-claimants-rate.csv', path=1)
df_6 = my_csv('processed_no-qualifications-overtime.csv', path=1)
df_7 = my_csv('processed_qualifications-average-2014.csv', path=1)

#### Below for each dataset we drop columns, melt dataframes, and rename the columns so that we can merge on the same values

In [49]:
df_1.drop(business_cols_to_drop, inplace=True, axis=1)

In [50]:
df_1.dropna(inplace=True, axis=0, how='any')
df_3.dropna(inplace=True, axis=0, how='any')
mapping = replaceCol(df_3)
df_3.rename(columns=mapping, inplace=True)
df_3 = df_3.reset_index(drop=True)
df = pd.merge(df_1, df_2, on=['code','area', 'year'])

In [51]:
df_3.drop(colToDrop(df_3), inplace=True, axis=1)

In [52]:
df_3 = df_3.melt(id_vars=["code", "area"], 
        var_name="Date", 
        value_name="Value")

In [53]:
df_3

          code                      area               Date Value
0    E09000002      Barking and Dagenham  Jan 2004-Dec 2004   8.3
1    E09000003                    Barnet  Jan 2004-Dec 2004   6.3
2    E09000004                    Bexley  Jan 2004-Dec 2004   4.1
3    E09000005                     Brent  Jan 2004-Dec 2004   9.1
4    E09000006                   Bromley  Jan 2004-Dec 2004   4.7
5    E09000007                    Camden  Jan 2004-Dec 2004   7.6
6    E09000008                   Croydon  Jan 2004-Dec 2004   6.2
7    E09000009                    Ealing  Jan 2004-Dec 2004   6.5
8    E09000010                   Enfield  Jan 2004-Dec 2004   6.6
9    E09000011                 Greenwich  Jan 2004-Dec 2004   8.0
10   E09000012                   Hackney  Jan 2004-Dec 2004  11.4
11   E09000013    Hammersmith and Fulham  Jan 2004-Dec 2004   8.1
12   E09000014                  Haringey  Jan 2004-Dec 2004  11.2
13   E09000015                    Harrow  Jan 2004-Dec 2004   6.0
14   E09000016                  Havering  Jan 2004-Dec 2004   4.0
15   E09000017                Hillingdon  Jan 2004-Dec 2004   5.1
16   E09000018                  Hounslow  Jan 2004-Dec 2004   6.7
17   E09000019                 Islington  Jan 2004-Dec 2004   9.6
18   E09000020    Kensington and Chelsea  Jan 2004-Dec 2004   6.0
19   E09000021      Kingston upon Thames  Jan 2004-Dec 2004   4.3
20   E09000022                   Lambeth  Jan 2004-Dec 2004  10.1
21   E09000023                  Lewisham  Jan 2004-Dec 2004   8.9
22   E09000024                    Merton  Jan 2004-Dec 2004   5.6
23   E09000025                    Newham  Jan 2004-Dec 2004  10.5
24   E09000026                 Redbridge  Jan 2004-Dec 2004   5.5
25   E09000027      Richmond upon Thames  Jan 2004-Dec 2004   4.3
26   E09000028                 Southwark  Jan 2004-Dec 2004  10.4
27   E09000029                    Sutton  Jan 2004-Dec 2004   4.6
28   E09000030             Tower Hamlets  Jan 2004-Dec 2004  13.1
29   E09000031            Waltham Forest  Jan 2004-Dec 2004   9.0
..         ...                       ...                ...   ...
660  E09000018                  Hounslow  Jan 2018-Dec 2018   4.9
661  E09000019                 Islington  Jan 2018-Dec 2018   5.1
662  E09000020    Kensington and Chelsea  Jan 2018-Dec 2018   6.0
663  E09000021      Kingston upon Thames  Jan 2018-Dec 2018   4.9
664  E09000022                   Lambeth  Jan 2018-Dec 2018   6.3
665  E09000023                  Lewisham  Jan 2018-Dec 2018   4.8
666  E09000024                    Merton  Jan 2018-Dec 2018   4.3
667  E09000025                    Newham  Jan 2018-Dec 2018   5.6
668  E09000026                 Redbridge  Jan 2018-Dec 2018   5.0
669  E09000027      Richmond upon Thames  Jan 2018-Dec 2018   3.8
670  E09000028                 Southwark  Jan 2018-Dec 2018   5.9
671  E09000029                    Sutton  Jan 2018-Dec 2018   4.7
672  E09000030             Tower Hamlets  Jan 2018-Dec 2018   5.6
673  E09000031            Waltham Forest  Jan 2018-Dec 2018   4.0
674  E09000032                Wandsworth  Jan 2018-Dec 2018   3.9
675  E09000033               Westminster  Jan 2018-Dec 2018   4.9
676  E12000001                North East  Jan 2018-Dec 2018   5.3
677  E12000002                North West  Jan 2018-Dec 2018   4.0
678  E12000003  Yorkshire and The Humber  Jan 2018-Dec 2018   4.5
679  E12000004             East Midlands  Jan 2018-Dec 2018   4.5
680  E12000005             West Midlands  Jan 2018-Dec 2018   4.7
681  E12000006                      East  Jan 2018-Dec 2018   3.5
682  E12000007                    London  Jan 2018-Dec 2018   5.0
683  E12000008                South East  Jan 2018-Dec 2018   3.4
684  E12000009                South West  Jan 2018-Dec 2018   3.1
685  E92000001                   England  Jan 2018-Dec 2018   4.1
686  K04000001         England and Wales  Jan 2018-Dec 2018   4.2
687  S92000003                  Scotland  Jan 2018-Dec 2018   4.3
688  W92000004                     Wales  Jan 2018-Dec 2018   4.5
689  K03000001             Great Britain  Jan 2018-Dec 2018   4.2

[690 rows x 4 columns]

#### Lose the months and get only the year

In [18]:
df_3['Date'] = df_3['Date'].apply(lambda x: [int(s) for s in str.split(x) if s.isdigit()][0])

In [19]:
df_3.rename(columns={'Date':'year', 'Value':'unemployment_rate'}, inplace=True)

In [20]:
df = pd.merge(df, df_3, on=['code','area', 'year'])

In [21]:
df['unemployment_rate'] = df['unemployment_rate'].astype('float')

In [22]:

df = df[~df['area'].isin(area_rows_to_drop)]

In [23]:
df

,code,area,year,3_year_survival_number,3_year_survival_rate,number_of_jobs,job_density,unemployment_rate
0,E09000002,Barking and Dagenham,2004,290.0,60.4,53000,0.51,8.3
1,E09000003,Barnet,2004,1385.0,56.9,135000,0.63,6.3
2,E09000004,Bexley,2004,565.0,60.1,85000,0.61,4.1
3,E09000005,Brent,2004,995.0,55.3,119000,0.65,9.1
4,E09000006,Bromley,2004,1015.0,63.8,126000,0.67,4.7
5,E09000007,Camden,2004,1810.0,63.7,278000,1.82,7.6
6,E09000008,Croydon,2004,1000.0,61.3,153000,0.69,6.2
7,E09000009,Ealing,2004,1210.0,57.2,136000,0.63,6.5
8,E09000010,Enfield,2004,855.0,61.1,110000,0.59,6.6
9,E09000011,Greenwich,2004,590.0,60.5,77000,0.50,8.0
10,E09000012,Hackney,2004,875.0,60.6,96000,0.65,11.4
11,E09000013,Hammersmith and Fulham,2004,985.0,52.8,128000,1.01,8.1
12,E09000014,Haringey,2004,780.0,58.0,78000,0.49,11.2
13,E09000015,Harrow,2004,845.0,61.7,81000,0.57,6.0
14,E09000016,Havering,2004,660.0,62.6,92000,0.65,4.0
15,E09000017,Hillingdon,2004,770.0,63.4,196000,1.20,5.1
16,E09000018,Hounslow,2004,780.0,59.5,130000,0.86,6.7
17,E09000019,Islington,2004,1120.0,59.9,179000,1.35,9.6
18,E09000020,Kensington and Chelsea,2004,1030.0,62.0,131000,1.09,6.0
19,E09000021,Kingston upon Thames,2004,555.0,63.1,84000,0.81,4.3
20,E09000022,Lambeth,2004,1080.0,58.4,142000,0.72,10.1
21,E09000023,Lewisham,2004,660.0,58.1,79000,0.46,8.9
22,E09000024,Merton,2004,685.0,56.8,91000,0.70,5.6
23,E09000025,Newham,2004,525.0,54.4,81000,0.47,10.5
24,E09000026,Redbridge,2004,770.0,57.9,85000,0.52,5.5
25,E09000027,Richmond upon Thames,2004,1015.0,68.8,82000,0.66,4.3
26,E09000028,Southwark,2004,1160.0,59.6,195000,1.07,10.4
27,E09000029,Sutton,2004,550.0,64.3,73000,0.62,4.6
28,E09000030,Tower Hamlets,2004,1125.0,60.6,192000,1.30,13.1
29,E09000031,Waltham Forest,2004,635.0,56.2,69000,0.46,9.0
...,...,...,...,...,...,...,...,...
442,E09000004,Bexley,2014,950.0,65.3,80000,0.53,5.7
443,E09000005,Brent,2014,1530.0,59.2,131000,0.60,7.4
444,E09000006,Bromley,2014,1405.0,64.2,127000,0.63,5.5
445,E09000007,Camden,2014,2425.0,55.4,379000,2.25,6.7
446,E09000008,Croydon,2014,1510.0,63.2,142000,0.58,7.2
447,E09000009,Ealing,2014,1940.0,62.4,159000,0.69,7.8
448,E09000010,Enfield,2014,1305.0,56.6,127000,0.61,8.2
449,E09000011,Greenwich,2014,1060.0,62.7,95000,0.52,8.9
450,E09000012,Hackney,2014,1985.0,61.2,131000,0.69,8.0
451,E09000013,Hammersmith and Fulham,2014,1340.0,56.3,148000,1.12,6.2
452,E09000014,Haringey,2014,1330.0,60.7,90000,0.48,8.1
453,E09000015,Harrow,2014,1470.0,61.5,89000,0.56,5.5
454,E09000016,Havering,2014,925.0,62.3,90000,0.59,6.3
455,E09000017,Hillingdon,2014,1290.0,62.2,220000,1.15,6.2
456,E09000018,Hounslow,2014,1455.0,62.7,164000,0.91,6.0
457,E09000019,Islington,2014,2100.0,56.5,231000,1.39,7.7
458,E09000020,Kensington and Chelsea,2014,1280.0,59.1,141000,1.28,5.8
459,E09000021,Kingston upon Thames,2014,790.0,62.2,82000,0.73,5.3
460,E09000022,Lambeth,2014,3270.0,58.7,180000,0.76,6.6
461,E09000023,Lewisham,2014,1120.0,59.9,88000,0.43,6.6
462,E09000024,Merton,2014,1250.0,62.7,97000,0.70,6.1
463,E09000025,Newham,2014,1330.0,56.2,112000,0.48,9.0
464,E09000026,Redbridge,2014,1535.0,59.5,89000,0.47,6.7
465,E09000027,Richmond upon Thames,2014,1270.0,64.0,95000,0.76,4.5
466,E09000028,Southwark,2014,1700.0,58.0,282000,1.27,8.0
467,E09000029,Sutton,2014,790.0,66.7,78000,0.61,5.3
468,E09000030,Tower Hamlets,2014,1965.0,56.8,278000,1.32,8.7
469,E09000031,Waltham Forest,2014,1250.0,59.5,84000,0.46,9.2
470,E09000032,Wandsworth,2014,1850.0,60.6,134000,0.57,4.9
471,E09000033,Westminster,2014,4380.0,53.1,737000,4.45,6.1

In [29]:
df_4.drop(['Unnamed: 0'], axis=1, inplace=True)

In [30]:
df_4.dropna(how='any', inplace=True)

In [31]:
df_4.rename(columns={'Code':'code', 'Area':'area'}, inplace=True)

In [32]:
df_4 = df_4.melt(id_vars=["code", "area"], 
        var_name="year", 
        value_name="NVQ4_rate")

In [33]:
df_4['year'] = df_4['year'].astype('int64')

In [34]:
df = pd.merge(df, df_4, on=['area', 'year'])

In [35]:
df.rename(columns={'code_x':'code'}, inplace=True)

In [36]:
df.drop(['code_y'], axis=1, inplace=True)

In [37]:
df_5.drop(['Unnamed: 0'], axis=1, inplace=True)

In [38]:
df_5.dropna(how='any', inplace=True)

In [39]:
df_5.rename(columns={'Code':'code', 'Area':'area'}, inplace=True)

In [40]:
df_5 = df_5[~df_5['area'].isin(area_rows_to_drop)]

In [41]:
df_5 = df_5.melt(id_vars=["code", "area"], 
        var_name="year", 
        value_name="youth_unemployment_rate")

In [42]:
df_5['year'] = df_5.loc[:,'year'].astype('int64')

In [43]:
df_5.dtypes

code                        object
area                        object
year                         int64
youth_unemployment_rate    float64
dtype: object

In [44]:
df = pd.merge(df, df_5, on=['area', 'year', 'code'])

In [45]:
df_6.drop(['Unnamed: 0'], axis=1, inplace=True)
df_6.dropna(how='any', inplace=True)
df_6.rename(columns={'Code':'code', 'Area':'area'}, inplace=True)
df_6 = df_6.melt(id_vars=["code", "area"], 
        var_name="year", 
        value_name="no_qualif_rate")
df_6['year'] = df_6['year'].astype('int64')
df = pd.merge(df, df_6, on=['area', 'year'])

In [46]:
df.drop(['code_y'], axis=1, inplace=True)
df.rename(columns={'code_x':'code'}, inplace=True)

In [47]:
df.to_csv(PROC_DATA_PATH + 'borough-unemployment-and-business-data.csv')