In [4]:
import pandas as pd
import os
import matplotlib.pyplot as plt
RAW_DATA_PATH = "~/library/data/raw/"
PROC_DATA_PATH = '~/library/data/processed/'

In [5]:
df_1 = pd.read_csv(RAW_DATA_PATH + 'business-demographics.csv', sep=',') 
df_2 = pd.read_csv(RAW_DATA_PATH + 'Jobs and Job Density.csv', sep=',') 
df_3 = pd.read_csv(RAW_DATA_PATH + 'mb-unemployment-rates.csv', sep=',', na_values=[' ', '-'])

FileNotFoundError: File b'/home/nbuser/library/data/raw/mb-unemployment-rates.csv' does not exist

In [ ]:
def replaceCol(df):
    col_length = len(df.columns)
    mapping = {df.columns[0]:'code', df.columns[1]:'area'}
    for index in range(2, col_length):
        if index%2!=0:
            mapping[df.columns[index]] = '+/- Difference'
    return mapping

df_3.dropna(inplace=True, axis=0, how="any")
mapping = replaceCol(df_3)
df_3.rename(columns=mapping, inplace=True)
df_3 = df_3.reset_index(drop=True)
df = pd.merge(df_1, df_2, on=['code','area', 'year'])

In [6]:
def colToDrop(df):
    col_length = len(df.columns)
    arr = []
    for index in range(2, col_length):
        if df.columns[index].find('Jan') != -1:
            if index + 2 < col_length:
                index += 2
            pass
        arr.append(df.columns[index])    
    return arr

df_3.drop(columns=colToDrop(df_3), inplace=True, axis=1)

NameError: name 'df_3' is not defined

In [8]:
df_3 = df_3.melt(id_vars=["code", "area"], 
        var_name="Date", 
        value_name="Value")

In [11]:
df_3['Date'] = df_3['Date'].apply(lambda x: [int(s) for s in str.split(x) if s.isdigit()][0])

In [16]:
df_3.rename(columns={'Date':'year', 'Value':'unemployment_rate'}, inplace=True)

In [18]:
df = pd.merge(df, df_3, on=['code','area', 'year'])

In [22]:
df = df.set_index(['year', 'area'])

In [23]:
df

                                  code  active_enterprises  births  \
year area
2004 Barking and Dagenham    E09000002                3120     480
     Barnet                  E09000003               19655    2435
     Bexley                  E09000004                6450     940
     Brent                   E09000005               11295    1800
     Bromley                 E09000006               11655    1590
     Camden                  E09000007               22910    2840
     Croydon                 E09000008               11230    1630
     Ealing                  E09000009               12830    2115
     Enfield                 E09000010                9305    1400
     Greenwich               E09000011                5605     975
     Hackney                 E09000012                9285    1445
     Hammersmith and Fulham  E09000013               10745    1865
     Haringey                E09000014                8435    1345
     Harrow                  E09000015                9965    1370
     Havering                E09000016                7570    1055
     Hillingdon              E09000017                9170    1215
     Hounslow                E09000018                8645    1310
     Islington               E09000019               12625    1870
     Kensington and Chelsea  E09000020               11675    1660
     Kingston upon Thames    E09000021                6680     880
     Lambeth                 E09000022                9555    1850
     Lewisham                E09000023                6230    1135
     Merton                  E09000024                7765    1205
     Newham                  E09000025                5160     965
     Redbridge               E09000026                8115    1330
     Richmond upon Thames    E09000027               10855    1475
     Southwark               E09000028               10730    1945
     Sutton                  E09000029                6485     855
     Tower Hamlets           E09000030                9590    1855
     Waltham Forest          E09000031                6805    1130
...                                ...                 ...     ...
2017 Havering                E09000016               11305    1535
     Hillingdon              E09000017               15085    2105
     Hounslow                E09000018               15195    2130
     Islington               E09000019               22295    3705
     Kensington and Chelsea  E09000020               15245    2090
     Kingston upon Thames    E09000021                9825    1295
     Lambeth                 E09000022               16940    2570
     Lewisham                E09000023               11605    1850
     Merton                  E09000024               13110    1915
     Newham                  E09000025               14570    2875
     Redbridge               E09000026               16635    2680
     Richmond upon Thames    E09000027               15105    1885
     Southwark               E09000028               19370    2770
     Sutton                  E09000029                9570    1180
     Tower Hamlets           E09000030               20545    3365
     Waltham Forest          E09000031               12755    2095
     Wandsworth              E09000032               20095    3040
     Westminster             E09000033               59945    8260
     North East              E12000001               75580    9545
     North West              E12000002              297760   47465
     East Midlands           E12000004              190090   22565
     West Midlands           E12000005              230100   30735
     East                    E12000006              295225   36935
     London                  E12000007              607870   92300
     South East              E12000008              446665   51965
     South West              E12000009              239150   25235
     England                 E92000001             2580505  339345
     Wales                   W92000004              102890   14120
     Scotland                S92000003              181595   21565
     Great Britain           K03000001             2864990  375030

                             birth_rate  deaths  death_rate  number_of_jobs  \
year area
2004 Barking and Dagenham          15.4     410        13.1           53000
     Barnet                        12.4    3015        15.3          135000
     Bexley                        14.6     800        12.4           85000
     Brent                         15.9    1745        15.4          119000
     Bromley                       13.6    1375        11.8          126000
     Camden                        12.4    2775        12.1          278000
     Croydon                       14.5    1580        14.1          153000
     Ealing                        16.5    1780        13.9          136000
     Enfield                       15.0    1200        12.9          110000
     Greenwich                     17.4     745        13.3           77000
     Hackney                       15.6    1280        13.8           96000
     Hammersmith and Fulham        17.4    1540        14.3          128000
     Haringey                      15.9    1275        15.1           78000
     Harrow                        13.7    1375        13.8           81000
     Havering                      13.9     920        12.2           92000
     Hillingdon                    13.2    1130        12.3          196000
     Hounslow                      15.2    1135        13.1          130000
     Islington                     14.8    1685        13.3          179000
     Kensington and Chelsea        14.2    1445        12.4          131000
     Kingston upon Thames          13.2     885        13.2           84000
     Lambeth                       19.4    1355        14.2          142000
     Lewisham                      18.2     845        13.6           79000
     Merton                        15.5    1135        14.6           91000
     Newham                        18.7     820        15.9           81000
     Redbridge                     16.4    1245        15.3           85000
     Richmond upon Thames          13.6    1220        11.2           82000
     Southwark                     18.1    1360        12.7          195000
     Sutton                        13.2     780        12.0           73000
     Tower Hamlets                 19.3    1400        14.6          192000
     Waltham Forest                16.6    1065        15.7           69000
...                                 ...     ...         ...             ...
2017 Havering                      13.6    1470        13.0          102000
     Hillingdon                    14.0    1895        12.6          215000
     Hounslow                      14.0    1970        13.0          187000
     Islington                     16.6    2975        13.3          247000
     Kensington and Chelsea        13.7    1740        11.4          165000
     Kingston upon Thames          13.2    1135        11.6          100000
     Lambeth                       15.2    2690        15.9          187000
     Lewisham                      15.9    1700        14.6           87000
     Merton                        14.6    1670        12.7          105000
     Newham                        19.7    2035        14.0          125000
     Redbridge                     16.1    2595        15.6           97000
     Richmond upon Thames          12.5    1680        11.1          107000
     Southwark                     14.3    2830        14.6          316000
     Sutton                        12.3    1135        11.9           84000
     Tower Hamlets                 16.4    2980        14.5          318000
     Waltham Forest                16.4    1850        14.5           88000
     Wandsworth                    15.1    2835        14.1          151000
     Westminster                   13.8    8445        14.1          759000
     North East                    12.6    9075        12.0         1209000
     North West                    15.9   36405        12.2         3763000
     East Midlands                 11.9   22740        12.0         2408000
     West Midlands                 13.4   26280        11.4         2979000
     East                          12.5   37770        12.8         3224000
     London                        15.2   86270        14.2         6122000
     South East                    11.6   48295        10.8         4886000
     South West                    10.6   30040        12.6         2983000
     England                       13.2  320810        12.4        30323000
     Wales                         13.7   10725        10.4         1458000
     Scotland                      11.9   20340        11.2         2840000
     Great Britain                 13.1  351875        12.3        34620000

                             job_density unemployment_rate
year area
2004 Barking and Dagenham           0.51               8.3
     Barnet                         0.63               6.3
     Bexley                         0.61               4.1
     Brent                          0.65               9.1
     Bromley                        0.67               4.7
     Camden                         1.82               7.6
     Croydon                        0.69               6.2
     Ealing                         0.63               6.5
     Enfield                        0.59               6.6
     Greenwich                      0.50               8.0
     Hackney                        0.65              11.4
     Hammersmith and Fulham         1.01               8.1
     Haringey                       0.49              11.2
     Harrow                         0.57               6.0
     Havering                       0.65               4.0
     Hillingdon                     1.20               5.1
     Hounslow                       0.86               6.7
     Islington                      1.35               9.6
     Kensington and Chelsea         1.09               6.0
     Kingston upon Thames           0.81               4.3
     Lambeth                        0.72              10.1
     Lewisham                       0.46               8.9
     Merton                         0.70               5.6
     Newham                         0.47              10.5
     Redbridge                      0.52               5.5
     Richmond upon Thames           0.66               4.3
     Southwark                      1.07              10.4
     Sutton                         0.62               4.6
     Tower Hamlets                  1.30              13.1
     Waltham Forest                 0.46               9.0
...                                  ...               ...
2017 Havering                       0.64               4.8
     Hillingdon                     1.09               4.8
     Hounslow                       1.04               6.0
     Islington                      1.40               4.8
     Kensington and Chelsea         1.56               5.9
     Kingston upon Thames           0.86               3.8
     Lambeth                        0.78               4.8
     Lewisham                       0.41               4.9
     Merton                         0.76               4.1
     Newham                         0.51               5.6
     Redbridge                      0.50               5.5
     Richmond upon Thames           0.86               4.0
     Southwark                      1.37               6.2
     Sutton                         0.65               5.1
     Tower Hamlets                  1.40               8.0
     Waltham Forest                 0.47               5.2
     Wandsworth                     0.64               3.7
     Westminster                    4.36               5.6
     North East                     0.73               6.2
     North West                     0.83               4.5
     East Midlands                  0.81               4.4
     West Midlands                  0.82               5.3
     East                           0.85               3.6
     London                         1.02               5.3
     South East                     0.87               3.2
     South West                     0.89               3.3
     England                        0.87               4.4
     Wales                          0.76               4.7
     Scotland                       0.81               4.1
     Great Britain                  0.86               4.4

[616 rows x 9 columns]

In [24]:
df.to_csv(PROC_DATA_PATH + 'borough-unemployment-and-business-data.csv')