## Importing the required data

- upload jobs residency xlsx table to 'data'

## Converting xlsx file to pandas dataframe

- install openpyxl, import load_workbook and pandas
- load xlsx workbook --> access required sheet
- convert to dataframe with .values

In [1]:
#to open xlsx files
!pip install openpyxl

Requirement already satisfied: openpyxl in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (2.5.8)
Requirement already satisfied: et-xmlfile in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from openpyxl) (1.4)

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
from openpyxl import load_workbook
wb2 = load_workbook('./data/Qualifications-by-economic-activity-status-borough.xlsx', data_only=True)

In [5]:
wb2.sheetnames

['Metadata',
 'Quals of Workless',
 'Quals of Unemployed Borough',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018']

In [152]:
ws2 = wb2["2014"]

In [153]:
df = pd.DataFrame(ws2.values)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,None,None,% of economically active with NVQ4+ - working age,None,None,None,% of economically active with NVQ4+ - working ...,None,None,None,...,None,None,% of economically active with no qualification...,None,None,None,% of economically active with no qualification...,None,None,None
1,Code,Area,number,denominator,percent,confidence,number,denominator,percent,confidence,...,percent,confidence,number,denominator,percent,confidence,number,denominator,percent,confidence
2,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,-,!,!,!,-,...,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,31100,89300,34.8,4.9,14100,48100,29.3,6.5,...,10.4,3.1,6500,48100,13.4,4.9,2800,41200,6.9,3.7

In [85]:
dfT = df.T

## Clearing dataframe

- drop last rows by slicing
- aggregate all value outside London into one 'Outside London' category with Code 'X00000000'
- make coloumn 0 and row 0 axes labels

In [86]:
number = dfT.loc[dfT[1]=="number"]

In [87]:
dfT.drop(number.index, axis=0, inplace=True)

In [88]:
denom = dfT.loc[dfT[1]=="denominator"]

In [89]:
dfT.drop(denom.index, axis=0, inplace=True)

In [90]:
conf = dfT.loc[dfT[1]=="confidence"]

In [91]:
dfT.drop(conf.index, axis=0, inplace=True)

In [92]:
male = dfT.iloc[3::3, :]

In [93]:
dfT.drop(male.index, axis=0, inplace=True)

In [94]:
female = dfT.iloc[3::2, :]

In [95]:
dfT.drop(female.index, axis=0, inplace=True)

In [96]:
dfT.drop(0, axis=1, inplace=True)
dfT.drop(2, axis=1, inplace=True)

In [97]:
dfT.iloc[2, 0] = 'NVQ4+'
dfT.iloc[3, 0] = 'NVQ3'
dfT.iloc[4, 0] = 'Trade Apprenticeship'
dfT.iloc[5, 0] = 'NVQ2'
dfT.iloc[6, 0] = 'NVQ1'
dfT.iloc[7, 0] = 'Other'
dfT.iloc[8, 0] = 'No Qualifications'

In [98]:
#bc. ! indicates that level close to 0
dfT.replace('!', 0, inplace=True)

In [99]:
df = dfT.T

In [100]:
df.columns = df.loc[1]
df.drop(1, axis=0, inplace=True)
df.head()

1,Code,Area,NVQ4+,NVQ3,Trade Apprenticeship,NVQ2,NVQ1,Other,No Qualifications
3,00AA,City of London,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,34.8,12,2.4,15.4,11.3,13.6,10.4
5,00AC,Barnet,49.9,14.6,1.3,8.7,7.4,11.6,6.4
6,00AD,Bexley,37.4,16.9,2.8,21.8,13.9,3.7,3.5
7,00AE,Brent,53.9,14.3,0.6,9.4,5.7,10.7,5.4

## Establishing an average qualification score
- assign all categories a certain ordinal value from 0 to 4.5:
    - NVQ4+: 4.5 bc. it includes all 4 and 5 level active persons
    - Trade Apprenticeship: 2.5 bc. such an apprenticeship can get assigned level 2 or 3 (https://www.gov.uk/government/publications/a-guide-to-apprenticeships)
    - Other: 2.25 bc that is the average btw. 0 and 4.5

In [101]:
df['Average score'] = (df['NVQ4+']*4.5 + df['NVQ3']*3 + df['Trade Apprenticeship']*2.5 + df['NVQ2']*2 + df['NVQ1']*1 + df['Other']*2.25 + df['No Qualifications']*0)/100

In [102]:
df

1,Code,Area,NVQ4+,NVQ3,Trade Apprenticeship,NVQ2,NVQ1,Other,No Qualifications,Average score
3,00AA,City of London,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,34.8,12,2.4,15.4,11.3,13.6,10.4,2.713
5,00AC,Barnet,49.9,14.6,1.3,8.7,7.4,11.6,6.4,3.225
6,00AD,Bexley,37.4,16.9,2.8,21.8,13.9,3.7,3.5,2.91825
7,00AE,Brent,53.9,14.3,0.6,9.4,5.7,10.7,5.4,3.35525
8,00AF,Bromley,50,16.8,2,13.7,9.9,5.7,1.9,3.30525
9,00AG,Camden,72.4,12.1,0.9,5.2,3.6,3.8,1.9,3.869
10,00AH,Croydon,45.6,18.9,4.9,12.8,6.9,7.6,3.4,3.2375
11,00AJ,Ealing,54.2,12.8,2.6,10.6,3.5,9.8,6.5,3.3555
12,00AK,Enfield,48.1,13.5,2.6,10.1,12.4,9.5,3.8,3.17425
13,00AL,Greenwich,48.3,17.8,1.9,12.6,6.1,6.9,6.4,3.22325
14,00AM,Hackney,60,14.4,0.7,8.2,6.7,5.7,4.3,3.50875
15,00AN,Hammersmith and Fulham,72,9.1,0.7,6,5,3.4,3.8,3.777
16,00AP,Haringey,55.6,12.7,1.7,6.8,6.3,10.1,6.8,3.35175
17,00AQ,Harrow,58.2,16.2,0.7,8.1,5.8,9.3,1.7,3.55175
18,00AR,Havering,27.8,19.6,3.9,23.1,13.6,6.2,5.8,2.674
19,00AS,Hillingdon,45,15.4,1.4,11.1,10.9,10.3,6,3.08475
20,00AT,Hounslow,55.2,8.8,2.2,10.5,6.5,11,5.8,3.3255
21,00AU,Islington,69.6,7.2,1.3,5.6,6.1,5.4,4.9,3.675
22,00AW,Kensington and Chelsea,68.6,7,1.7,5,5.1,7.3,5.3,3.65475
23,00AX,Kingston upon Thames,61.6,12.9,1.2,11.4,6.3,5.3,1.3,3.59925
24,00AY,Lambeth,68.4,9.6,0.7,5.4,6.5,5.1,4.4,3.67125
25,00AZ,Lewisham,58.6,13.7,1.9,9.5,5.3,6,5,3.4735
26,00BA,Merton,57.3,13.1,1.4,9.8,4.9,10.3,3.1,3.48325
27,00BB,Newham,43.3,13.6,0.7,10.2,5,19.9,7.3,3.07575
28,00BC,Redbridge,52.9,14.2,0.6,10.2,8.2,9.1,4.8,3.31225
29,00BD,Richmond upon Thames,72.5,12,1.8,6.9,3,3.4,0,3.912
30,00BE,Southwark,67.6,9.2,0.8,7.5,4.1,5.7,5,3.65725
31,00BF,Sutton,47.2,14.9,4.1,13.7,8.9,7.9,3.4,3.21425
32,00BG,Tower Hamlets,53.5,15.1,0,11.9,6.5,5.6,7,3.2895
33,00BH,Waltham Forest,51.8,13.6,1,11.7,8.3,6.9,6.6,3.23625
34,00BJ,Wandsworth,77.4,5.7,0.9,7,1.8,5,2.3,3.947
35,00BK,Westminster,76,6,0.6,5.1,3.5,7.2,1.6,3.914
36,None,None,None,None,None,None,None,None,None,NaN
37,A,North East,32.6,20.6,4.8,19.1,12,5.4,5.6,2.8285
38,B,North West,35.7,18.5,4.2,18.7,11,5.8,6.1,2.881
39,D,Yorkshire and The Humber,33.9,18.6,4.5,17.5,12.6,6.7,6.1,2.82275
40,E,East Midlands,34.2,19.3,3.8,17.8,12.7,6.2,6,2.8355
41,F,West Midlands,33.8,18.4,3.4,16.9,11.8,7.2,8.5,2.776
42,G,East,36.1,18,3.8,17.6,13.2,6,5.4,2.8785
43,H,London,56,13,1.6,10.1,6.8,7.8,4.6,3.3955
44,J,South East,42.7,17.5,3.6,16,11.3,5.2,3.7,3.0865
45,K,South West,39.4,19.3,3.8,17,12.1,4.8,3.6,3.016
46,None,None,None,None,None,None,None,None,None,NaN
47,921,England,40,17.6,3.5,16.2,11.1,6.2,5.3,2.99
48,924,Wales,37.8,18.6,4,16.8,10.7,5.9,6.1,2.93475
49,923,Scotland,45.6,14.4,4.8,13.7,9,6.3,6.3,3.10975
50,922,Northern Ireland,35.7,15,7.4,16.1,10,4.2,11.6,2.758
51,None,None,None,None,None,None,None,None,None,NaN
52,941,England and Wales,39.9,17.7,3.6,16.2,11.1,6.2,5.4,2.991
53,925,Great Britain,40.4,17.4,3.7,16,10.9,6.2,5.5,3.001
54,926,United Kingdom,40.3,17.3,3.8,16,10.9,6.1,5.6,2.99375

In [69]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'qualifications-average-2014.csv')

## 2) Dataset with specific values over time 
- clear df so that only contains borough and no qualification
- import row No Qualifications of all worksheets and merge them

### No qualifications over time

In [188]:
ws2 = wb2["2004"]

In [189]:
df04 = pd.DataFrame(ws2.values)
df04.tail()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
50,922,Northern Ireland,216800,759000,28.6,1.5,102600,423800,24.2,1.9,...,18.1,1.3,84100,423800,19.8,1.8,53200,335200,15.9,1.8
51,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,7566200,25875900,29.2,0.2,4014500,14056700,28.6,0.3,...,10.8,0.2,1514600,14056700,10.8,0.2,1277000,11819200,10.8,0.2
53,925,Great Britain,8427600,28398200,29.7,0.2,4443000,15387000,28.9,0.3,...,10.9,0.1,1652900,15387000,10.7,0.2,1430600,13011300,11,0.2
54,926,United Kingdom,8644400,29157200,29.6,0.2,4545600,15810800,28.7,0.3,...,11,0.1,1737000,15810800,11,0.2,1483800,13346400,11.1,0.2

In [190]:
nq04 = df04[76]

In [191]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[76]

In [192]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[76]

In [193]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[76]

In [194]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[76]

In [195]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[76]

In [196]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[76]

In [197]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[76]

In [198]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[76]

In [199]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[76]

In [200]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[76]

In [201]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[76]

In [202]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[76]

In [203]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[76]

In [204]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[76]

In [205]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [206]:
df.drop(bulk, axis=1, inplace=True)

In [207]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,Code,Area,76,76,76,76,76,76,76,76,76,76,76,76,76,76,76
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8
5,00AC,Barnet,6.8,6.4,5.3,7.8,5.6,5.9,5.2,3.7,5,2.8,6.4,3.3,3.6,3.7,3
6,00AD,Bexley,8.6,8.5,6.3,11.2,8.2,6.9,4.3,4.8,5.6,2.7,3.5,7.7,3.4,3.1,3.5
7,00AE,Brent,11.6,8.2,7.2,6.5,5.1,6.8,2.1,8.2,8.3,5.7,5.4,4.6,3.4,5.1,4.8
8,00AF,Bromley,7.5,6.1,7.1,5.3,5.8,2.9,3.7,5.4,3.8,4,1.9,1.7,1.8,3,2.6
9,00AG,Camden,4.6,3.8,6.3,6.2,3.4,4.7,4,4,3.8,4.8,1.9,1.6,2.2,6.9,4
10,00AH,Croydon,7.6,7.6,10,12.7,9.1,8.4,3.9,6.2,3.5,4.1,3.4,4.8,4.4,3.4,4.1
11,00AJ,Ealing,9.2,5.9,7.5,7.5,7.9,10.5,7.1,5.9,7.1,5.3,6.5,6.2,3.7,4.6,5.8
12,00AK,Enfield,11.9,9.5,7.1,8.5,9.4,6.6,5.2,5.4,5,3.5,3.8,1.4,3.2,4.9,4
13,00AL,Greenwich,8.6,10.4,8.5,10.5,7,9.5,6.3,6.6,5.3,4.2,6.4,7.7,3.1,3.1,3.8
14,00AM,Hackney,14.7,13.9,14.7,12.2,9.6,6.7,9.6,7,4.9,5.1,4.3,6.4,4.9,4.7,8
15,00AN,Hammersmith and Fulham,4.3,5.9,3.9,7.1,5.4,8.5,3.7,6.5,3.1,5.7,3.8,3.2,4.9,2.1,4.9
16,00AP,Haringey,11.6,9.3,7.7,6,9,8.8,7.1,3.9,5.4,5.8,6.8,6.6,6.4,4.5,6.4
17,00AQ,Harrow,7.3,5.9,5.2,5.5,5.4,4,3.6,4.9,4.1,2.5,1.7,2.8,1.3,2.2,2.5
18,00AR,Havering,13,14.9,15.6,12,11.1,12.4,10.6,8.4,5,5,5.8,7.5,5.7,5.3,7.7
19,00AS,Hillingdon,8.8,10,10.8,9.9,9.8,9,11.4,8.4,3.5,3.5,6,4.7,3.8,7,6.4
20,00AT,Hounslow,8.5,8.3,7.3,8.9,11.1,11.9,10.5,6.3,6.8,7.1,5.8,3.2,4.6,4.5,3.1
21,00AU,Islington,12.9,10,8.6,8.5,7.6,5.5,3.5,4.1,4.2,6.7,4.9,4.2,4.1,3.2,4.6
22,00AW,Kensington and Chelsea,4.2,4.6,7.9,5.6,4.5,3.8,1.8,4,4.6,6.1,5.3,2.5,3.7,2.2,2.6
23,00AX,Kingston upon Thames,3.7,6.4,5.8,4.3,4.4,7.1,5.5,5.3,4.1,1.6,1.3,3.8,2.3,2.9,2.6
24,00AY,Lambeth,11.2,14.1,14.8,9.5,8.8,6.5,5,7.8,5.9,3.7,4.4,3.8,2.7,3,3
25,00AZ,Lewisham,8.4,9.1,9.6,5.4,6.5,4.1,4.3,5.5,5.2,4,5,3.4,3.8,2,3.7
26,00BA,Merton,8,10.7,6.8,4.5,5.8,6.3,4.7,4.3,4.6,4.3,3.1,2.9,2.7,2,3.6
27,00BB,Newham,21,13.3,10.2,13.1,11.8,12.6,9.6,9.3,9,9.2,7.3,7.4,5.4,9.1,3.6
28,00BC,Redbridge,11.5,7.8,5.9,9.5,9,8,11.9,8,7.4,3.7,4.8,7.4,5.8,4.9,5.8
29,00BD,Richmond upon Thames,4.2,5.7,4.4,3.6,6.6,3.7,2.8,2,2.1,2.3,!,1.1,!,1.8,1.9
30,00BE,Southwark,9.8,15.8,15,9,8.4,6.3,6.5,4.6,5.4,5.2,5,4.8,4.1,3.9,3.8
31,00BF,Sutton,9,8.7,9.8,12.5,8.8,6.8,6.4,4.1,3.8,4.6,3.4,3.1,4.8,4.8,4.8
32,00BG,Tower Hamlets,14.6,13,13.7,9.8,11.3,6.9,5.4,8.4,7.5,6.6,7,5.3,4.6,7.9,3.9
33,00BH,Waltham Forest,12.6,13.1,11.3,12.2,11.2,15.2,10.7,8.8,7.9,8.7,6.6,7.5,4.9,7.1,4.1
34,00BJ,Wandsworth,5,8,7.9,2.8,6,4.3,2.6,4.1,2.2,3.5,2.3,3.1,1.4,1.6,2.4
35,00BK,Westminster,6.8,7.9,8.2,5.9,5,4.7,3.4,5,3,3.5,1.6,2.1,2.1,1.1,2.9
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,10.9,9.8,9.2,9.2,8.9,9,8,7.1,6.9,6.3,5.6,6.1,5.6,5.6,5.5
38,B,North West,12.4,11.6,10.6,10.1,10,8.6,7.1,7.3,6.5,6.4,6.1,5.9,5.4,5.2,5.5
39,D,Yorkshire and The Humber,10.9,10.8,10.3,10,8.9,8.2,7.8,7.3,7.1,6.6,6.1,6.1,6,6.1,5.4
40,E,East Midlands,13,11.1,10.4,10.1,10.1,8.9,9,7.4,6.3,7,6,4.9,4.7,5.1,5.5
41,F,West Midlands,13.7,12.6,12.8,12.2,11.5,11,9.8,9.3,9.3,9.5,8.5,8.4,7.6,6.8,6.8
42,G,East,11.7,10.4,11.2,9.8,9.4,8.1,7,6.6,5.6,5.5,5.4,5.4,5.2,4.9,5.2
43,H,London,9.3,9.2,8.9,8.4,7.9,7.4,6.1,6,5.2,4.8,4.6,4.6,3.9,4.3,4.2
44,J,South East,8.3,7.8,7.4,7.7,6.8,6.2,5.8,5.3,4.3,4.1,3.7,4.1,3.6,3.4,3.7
45,K,South West,8.3,7.8,7.2,6.8,6.7,5.6,5.3,5.2,4.4,4.5,3.6,3.5,3.1,3.4,3.4
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,10.7,10,9.6,9.2,8.8,7.9,7.1,6.7,6,5.9,5.3,5.3,4.8,4.8,4.9
48,924,Wales,12,11.5,11.3,10.7,9.5,9.1,7.8,7.4,7,6.4,6.1,6.3,5.9,5.4,5.5
49,923,Scotland,11.6,10.6,9.9,9.7,9.1,8.9,8,7.7,6.9,6.6,6.3,5.9,6.5,5.8,6.8
50,922,Northern Ireland,18.1,17.5,16.5,15.8,15.8,14.7,13.4,14.3,11.7,12,11.6,10.8,10.5,10.9,9.1
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,10.8,10.1,9.7,9.3,8.8,8,7.1,6.7,6,5.9,5.4,5.3,4.9,4.8,4.9
53,925,Great Britain,10.9,10.1,9.7,9.3,8.8,8,7.2,6.8,6.1,6,5.5,5.4,5,4.9,5.1
54,926,United Kingdom,11,10.3,9.9,9.5,9,8.2,7.4,7,6.2,6.1,5.6,5.5,5.2,5.1,5.2

In [208]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [209]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,!,!,!,!,!,!,!,!,!,!,!,!,!,!,!
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8

In [210]:
df.replace('!', 0, inplace=True)

In [211]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00AB,Barking and Dagenham,16.3,16.4,17,18.3,17.5,12.7,12.9,8.6,8.2,11.4,10.4,9.3,11.5,10,7.8
5,00AC,Barnet,6.8,6.4,5.3,7.8,5.6,5.9,5.2,3.7,5,2.8,6.4,3.3,3.6,3.7,3
6,00AD,Bexley,8.6,8.5,6.3,11.2,8.2,6.9,4.3,4.8,5.6,2.7,3.5,7.7,3.4,3.1,3.5
7,00AE,Brent,11.6,8.2,7.2,6.5,5.1,6.8,2.1,8.2,8.3,5.7,5.4,4.6,3.4,5.1,4.8

In [212]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'no-qualifications-overtime.csv')

### NVQ4+ over time

In [229]:
ws2 = wb2["2004"]
df04 = pd.DataFrame(ws2.values)
nq04 = df04[4]

In [230]:
ws2 = wb2["2005"]
df05 = pd.DataFrame(ws2.values)
nq05 = df05[4]

In [231]:
ws2 = wb2["2006"]
df06 = pd.DataFrame(ws2.values)
nq06 = df06[4]

In [232]:
ws2 = wb2["2007"]
df07 = pd.DataFrame(ws2.values)
nq07 = df07[4]

In [233]:
ws2 = wb2["2008"]
df08 = pd.DataFrame(ws2.values)
nq08 = df08[4]

In [234]:
ws2 = wb2["2009"]
df09 = pd.DataFrame(ws2.values)
nq09 = df09[4]

In [235]:
ws2 = wb2["2010"]
df10 = pd.DataFrame(ws2.values)
nq10 = df10[4]

In [236]:
ws2 = wb2["2011"]
df11 = pd.DataFrame(ws2.values)
nq11 = df11[4]

In [237]:
ws2 = wb2["2012"]
df12 = pd.DataFrame(ws2.values)
nq12 = df12[4]

In [238]:
ws2 = wb2["2013"]
df13 = pd.DataFrame(ws2.values)
nq13 = df13[4]

In [239]:
ws2 = wb2["2014"]
df14 = pd.DataFrame(ws2.values)
nq14 = df14[4]

In [240]:
ws2 = wb2["2015"]
df15 = pd.DataFrame(ws2.values)
nq15 = df15[4]

In [241]:
ws2 = wb2["2016"]
df16 = pd.DataFrame(ws2.values)
nq16 = df16[4]

In [242]:
ws2 = wb2["2017"]
df17 = pd.DataFrame(ws2.values)
nq17 = df17[4]

In [243]:
ws2 = wb2["2018"]
df18 = pd.DataFrame(ws2.values)
nq18 = df18[4]

In [244]:
#using only the borough key of df
bulk = df.iloc[::, 2:]

In [245]:
df.drop(bulk, axis=1, inplace=True)

In [246]:
df = pd.concat([df, nq04], axis=1)
df = pd.concat([df, nq05], axis=1)
df = pd.concat([df, nq06], axis=1)
df = pd.concat([df, nq07], axis=1)
df = pd.concat([df, nq08], axis=1)
df = pd.concat([df, nq09], axis=1)
df = pd.concat([df, nq10], axis=1)
df = pd.concat([df, nq11], axis=1)
df = pd.concat([df, nq12], axis=1)
df = pd.concat([df, nq13], axis=1)
df = pd.concat([df, nq14], axis=1)
df = pd.concat([df, nq15], axis=1)
df = pd.concat([df, nq16], axis=1)
df = pd.concat([df, nq17], axis=1)
df = pd.concat([df, nq18], axis=1)
df

,Code,Area,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,!,!,100,100,!,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2
5,00AC,Barnet,41.6,46.9,42.3,47.6,48.6,49.5,53.2,57.3,53.9,56.8,49.9,55.4,65.2,62.2,61.5
6,00AD,Bexley,17.3,21.8,24.2,23.1,28.1,31.5,30.5,29.6,31.9,35.3,37.4,38.3,40.8,39.9,45.2
7,00AE,Brent,31.7,35.8,35,31.3,31.4,41,31,33.8,46.8,50.8,53.9,53.4,52.1,45.4,47.5
8,00AF,Bromley,38.4,33.6,39.1,39,36.4,39.3,41,47.1,49.7,51.9,50,51.5,54.2,50.1,53.5
9,00AG,Camden,55.7,60,60.1,59.1,59.8,62.6,63.5,69.4,69.6,69.8,72.4,73.5,72.2,71.2,74.5
10,00AH,Croydon,31.1,32.6,33.6,34.8,36.3,35.7,45.1,43.1,44.3,47.8,45.6,45.8,52.8,51,54.3
11,00AJ,Ealing,44.5,44,39.9,45,49.3,43.6,46.7,54.7,52.9,51.9,54.2,57,61.2,56.9,58
12,00AK,Enfield,26.6,34.2,39.9,35.7,38.1,43.7,43.9,44,42.4,44.3,48.1,50.5,48.5,43.1,49.4
13,00AL,Greenwich,32.9,31.8,38.9,35.2,42.4,43.1,42.2,49.2,47.5,52.6,48.3,48.7,50.6,61.1,60.6
14,00AM,Hackney,42.7,41.7,44.6,47.8,56.1,55.9,49.8,56.6,60.3,58.6,60,59.4,65.3,71,63.9
15,00AN,Hammersmith and Fulham,55.5,57,59,58.2,58.1,53.2,59.9,66.7,67.8,70.6,72,73.4,66.4,71.6,69.2
16,00AP,Haringey,45,45.5,47.9,50.6,52.5,52.7,51.2,60,62.4,61.9,55.6,56.6,59.1,59.9,63.6
17,00AQ,Harrow,37.5,37.2,37.3,38.4,34.8,37.9,39.9,49.3,52.7,52.2,58.2,53.3,49.9,52.2,52.5
18,00AR,Havering,13.7,20.4,20.4,20.5,23,19,22.3,21.7,24.1,26.6,27.8,30.1,30.6,33.8,33.7
19,00AS,Hillingdon,27.8,32.3,29.3,30.8,28.4,37,29.5,37.8,40.5,46.5,45,45.1,50.1,49.2,48.8
20,00AT,Hounslow,30.4,31.6,37.2,37.3,42.2,39.8,38.5,51.9,52.3,49.3,55.2,52.3,54.1,49.5,58.4
21,00AU,Islington,50.4,51,55.8,56.7,57.4,61.9,69.4,69.2,65.9,72.1,69.6,71.9,68.3,70.2,74
22,00AW,Kensington and Chelsea,47.9,56.2,52.8,57.5,61.1,68,64.4,69.4,68.8,67.3,68.6,73.4,67.4,71.9,72.2
23,00AX,Kingston upon Thames,46.1,42.8,47.9,54,57.4,50.9,59.7,54.2,55.1,58.8,61.6,59.4,61.3,61.2,66.6
24,00AY,Lambeth,49,48.8,51,53.8,51,57,62.3,66.2,63.1,68.8,68.4,72.9,71.2,73.4,68.8
25,00AZ,Lewisham,38.2,36.6,36.2,40.6,46.1,45.1,55.4,57.2,63.4,59.4,58.6,58.1,56.5,57.1,64.5
26,00BA,Merton,39.8,47,43.3,46.9,40.1,45.2,54.8,52.6,52,58,57.3,61.9,66,61.7,57.2
27,00BB,Newham,23.3,27.4,31.2,31.7,30.8,30.5,37.1,48,49.2,47.6,43.3,50,55.9,47.6,56.6
28,00BC,Redbridge,30.8,41,41.6,43.8,43.2,39.4,41.9,43.6,49.8,53.8,52.9,51.2,55.4,53.7,53.4
29,00BD,Richmond upon Thames,51.1,53.7,58.7,59.8,60.3,60.1,59.6,62.1,66.8,70.8,72.5,75,75.9,71.3,72.9
30,00BE,Southwark,45.8,49.5,46,52.3,54.1,54.5,57.3,64,64.2,63.3,67.6,64.3,66.4,68.7,71.2
31,00BF,Sutton,26.8,32,34.8,33.3,31.2,41,40.6,38.6,42.2,44.1,47.2,44.8,49.3,56.6,51.8
32,00BG,Tower Hamlets,38.4,37.7,39.7,41.7,47.2,46.5,52.2,58.2,62.9,57.7,53.5,54.6,60.8,61,65.1
33,00BH,Waltham Forest,30.4,27.5,31.5,36.5,36.9,32.3,37.1,44.8,47.1,50.1,51.8,50.6,52.4,49.6,55.1
34,00BJ,Wandsworth,55.7,51.4,59.6,63.2,61.7,65,70,71.2,73.6,71.3,77.4,71.6,76.8,76.9,76
35,00BK,Westminster,45.6,51.6,56.1,62.7,58.7,65,68.1,69.4,72.6,71.7,76,71.2,70.6,72.5,78
36,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
37,A,North East,25.9,25.3,26.7,28.3,27.7,28.5,30.3,30.7,31,32.2,32.6,34.9,36,36.6,36
38,B,North West,27.1,28.4,28.7,29.5,29.6,31.7,33.5,33,34.8,35.6,35.7,37.2,39,39.1,40.3
39,D,Yorkshire and The Humber,26.2,25.5,25.9,27.5,28.5,30.2,30.7,31.1,33.7,33.7,33.9,34.8,35.5,36.8,37.5
40,E,East Midlands,26.2,26.5,27.9,28.5,28.1,29.2,30.9,31.7,32,33.4,34.2,35.8,35.2,35.9,37.3
41,F,West Midlands,26,26.2,27.3,28.5,28.1,28.9,30.4,30.2,32.2,32.7,33.8,35.7,35.8,35.5,37
42,G,East,27.1,27.7,27.4,28.6,28.3,29.7,32,32.1,35.9,36.2,36.1,37,38.5,37.9,38.6
43,H,London,38,40.1,41.6,43.5,44.5,46.1,48.4,52.4,54,55.5,56,56.5,58.6,58.1,60
44,J,South East,31.7,32,33,33.6,34.2,35.9,37.3,39.4,40,41.7,42.7,43.1,44.9,44.2,45.5
45,K,South West,28.5,28.8,29.9,31.9,30.7,31.9,35,36.3,37.3,37.1,39.4,40.6,41.2,42.3,41.9
46,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
47,921,England,29.3,29.9,30.8,32,32.2,33.7,35.5,36.7,38.4,39.3,40,41.2,42.4,42.5,43.5
48,924,Wales,27.8,28.2,28.5,29.8,30.9,32.4,34.1,34.3,35.1,35.8,37.8,38.7,40.1,39.9,39.9
49,923,Scotland,34.1,34.3,35.7,36.8,37.3,38.2,39.3,41.2,42.6,43.4,45.6,47.2,48.4,48,48.3
50,922,Northern Ireland,28.6,28.2,28.6,29.9,32,31.7,33.1,31.9,33.6,34,35.7,35.8,36.2,38.9,41.9
51,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
52,941,England and Wales,29.2,29.8,30.7,31.9,32.1,33.6,35.4,36.6,38.2,39.1,39.9,41,42.3,42.3,43.3
53,925,Great Britain,29.7,30.2,31.1,32.4,32.6,34,35.8,37,38.6,39.5,40.4,41.6,42.8,42.8,43.7
54,926,United Kingdom,29.6,30.1,31,32.3,32.5,33.9,35.7,36.9,38.5,39.3,40.3,41.4,42.6,42.7,43.7

In [247]:
df.columns = ['Code', 'Area', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']

In [248]:
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,NaN,NaN,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent,percent
2,NaN,NaN,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,!,!,100,100,!,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2

In [249]:
df.replace('!', 0, inplace=True)

In [250]:
df.drop(0, axis=0, inplace=True)
df.drop(1, axis=0, inplace=True)
df.drop(2, axis=0, inplace=True)
df.head()

,Code,Area,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,00AA,City of London,80.6,73.1,67.9,73.7,69.4,100,0,0,100,100,0,100,83.3,91.1,100
4,00AB,Barking and Dagenham,17.2,20.2,18.5,22.4,26,29.1,33.8,33.2,29.8,32.3,34.8,35.9,37.5,35,39.2
5,00AC,Barnet,41.6,46.9,42.3,47.6,48.6,49.5,53.2,57.3,53.9,56.8,49.9,55.4,65.2,62.2,61.5
6,00AD,Bexley,17.3,21.8,24.2,23.1,28.1,31.5,30.5,29.6,31.9,35.3,37.4,38.3,40.8,39.9,45.2
7,00AE,Brent,31.7,35.8,35,31.3,31.4,41,31,33.8,46.8,50.8,53.9,53.4,52.1,45.4,47.5

In [251]:
PROC_DATA_PATH = '~/library/data/processed/'
df.to_csv(PROC_DATA_PATH + 'nvq4+-qualifications-overtime.csv')